@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8; /* Blue 700 */
  --color-success: #10b981; /* Emerald 500 */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50;
  }
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
